<header>
    <section class="header">
        <a href="/"><img src="assets/img/logo-infoclick.png" class="logo" alt=""></a>

        <div class="search">
            <input class="input" placeholder="Buscar produtos..."/>
            <button class="button"><i class="bi bi-search"></i></button>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="/produtos-list"><i class="bi bi-pc-display"></i>PRODUTOS</a></li>
                <li><a href="/cadastro"><i class="bi bi-card-checklist"></i>CADASTRO</a></li>
                <li><a href="/login"><i class="bi bi-person-circle"></i>LOGIN</a></li>
                <li><a href="/carrinho"><i class="bi bi-cart3"></i></a></li>
            </ul>
        </nav>
        <div class="container-menu-hamburguer">
            <button class="menu-hamburguer-button" type="button" (click)="menuClick()"><span class="bi bi-list menu-hamburguer"></span></button>
            <nav class="navBar-hamburguer" *ngIf=" menuHamburguer">
                <ul>
                    <li><a href="/produtos-list"><i class="bi bi-pc-display"></i>PRODUTOS</a></li>
                    <li><a href="/cadastro"><i class="bi bi-card-checklist"></i>CADASTRO</a></li>
                    <li><a href="/login"><i class="bi bi-person-circle"></i>LOGIN</a></li>
                    <li><a href="/carrinho"><i class="bi bi-cart3"></i>CARRINHO</a></li>
                </ul>
            </nav>
        </div>
    </section>

</header>




