header {
    background-color: #F5F5F5;
    height: 94px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-bottom: 10px;
}

.header {
    height: 94px;
    display: flex;
    align-items: center;
}

.menu-hamburguer {
   font-size: 35px;
   display: none;
   padding: 0;
}
.navBar-hamburguer {
    display: none;
}

.menu-hamburguer-button {
    width: 40px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50%;
    display: none;
    border: none;
    background-color: #F5F5F5;
}
.logo {
    width: 150px;
    margin-left: 20px;
    margin-bottom: 0;
}

.divisão {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.search {
    height: 94px;
    display: flex;
    width: 50%;
    padding-left: 15%;
    align-items: center;
}

.input {
    width: 490px;
    height: 41px;
    border-radius: 20px 0px 0px 20px;
    padding-left: 10px;
    border: solid 1px black;
    border-right: none;
}

.button {
    height: 41px;
    width: 41px;
    border: solid 1px black;
    border-left: none;
    border-radius: 0px 20px 20px 0px;
    background-color: white;
}

.navbar {
    width: 40%;
}

.navbar ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 0;
}

.navbar ul li  {
 list-style: none;
}

.navbar ul li a  {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-around;
}

.batata {
    background-color: black;
}

i {
    padding-right: 5px;
}

.material-icons{
    width: 23px;
    display:contains;
    justify-content: space-between;
    vertical-align:middle;


}


@media(max-width: 1160px) {
    .search, .navbar {
        display: flexbox;
        align-items: center;
        justify-content: space-between;
    }

//    .header {
//     justify-content: space-between;
//    }
}


@media(max-width: 1000px) {
    .search, .navbar {
        display: none;
    }

   .header {
    justify-content: space-between;
   }

    .menu-hamburguer, .menu-hamburguer-button, .navBar-hamburguer {
        display: initial;
    }

    .menu-hamburguer-button {
        margin-right: 5px;
    }
    .navBar-hamburguer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        z-index: 1000;
        position: absolute;
        width: 220px;
        top: 85px;
        height: 250px;
        right: 0px;
        background-color: white;
        margin-right: 5px;
        border-radius: 2px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
    .navBar-hamburguer::after {
        content: "";
        width: 25px;
        height: 25px;
        display: block;
        position: absolute;
        top: -9px;
        left: 180px;
        background-color: white;
        transform: rotate(48deg);

    }
    .navBar-hamburguer {
        display: flex;
        flex-direction: column;
        align-content: space-around;
    }


    .navBar-hamburguer uL {
        padding-left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: flex-start;
        height: 200px;
    }

    .navBar-hamburguer li {
        list-style: none;
    }

    .navBar-hamburguer a {
        text-decoration: none;
        color: black;
    }


}


