
<div class="trancatela">
<mat-grid-list class="container-fluid" cols="1" rowHeight="650px">
    <mat-grid-tile>
        <form class="card" >
            <h1 class="titulo">Login</h1>
            <form class="form-group" [formGroup]="loginForm" (ngSubmit)="onSubmit() ">
                <div class="form-align">
                    <mat-label class="form-label">Email</mat-label>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <input matInput placeholder="Digite seu email" formControlName="email" type="email" required>
                        <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">Campo obrigatório</mat-error>
                        <mat-error *ngIf="loginForm.get('email')?.errors?.['email']">Email inválido</mat-error>
                    </mat-form-field>
                </div>
                <div class=" form-align">
                    <mat-label class="label-align2">Senha</mat-label>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <input matInput placeholder="Digite sua senha" [type]="hide ? 'password' : 'text'" formControlName="password" type="password" required>
                        <mat-error *ngIf="loginForm.get('password')?.errors?.['required']">Campo obrigatório</mat-error>
                        <mat-error *ngIf="loginForm.get('password')?.errors?.['minlength']">Mínimo 8 dígitos</mat-error>
                        <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </a>
                    </mat-form-field>
                </div>
                <div class="recaptcha" style="margin-bottom:15px ;">
                    <ngx-recaptcha2 #captchaElem class="captcha" [siteKey]="siteKey" formControlName="recaptcha">
                    </ngx-recaptcha2>
                </div>
                <div>
                <button  mat-raised-button type="submit" class="btn btn-dark botao" style="border-radius: 7px ;" [disabled]="loginForm.invalid">
                    Entrar
                </button>


            </div>
            </form>

            <div>
                <p class="cadastra"><a class="palavra2" href="/cadastro">É novo na Infoclick? Cadastre-se aqui</a></p>
            </div>
            <div>
                <p class="cadastra2"><a class="palavra" href="/recuperar-senha">Esqueci a minha senha</a></p>
            </div>
        </form>
    </mat-grid-tile>

</mat-grid-list>
</div>
