main {
    background-image: url('../../../../assets/img/produtos-detail-fundo.png');
    padding-top: 50px;
    padding-bottom: 55px;
}

.container {
    width: 1150px;
    height: 750px;
    background-color: white;
    display: flex;
    align-items: center;
}

.imagem-produto img {
    width: 500px;
    height: 500px;
    object-fit: contain;
}

.linha {
    height: 350px;
    width: 2px;
    background-color: #9FA7AC;
    margin-left: 10px;
    margin-right: 10px;
}

.nome-produto {
    font-size: 1.8vw;
    font-weight: 500;
}

.codigo-produto {
    font-size: 15px;
    font-weight: 400;
    color: #9FA7AC;
}

.nome-empreendedor {
    font-size: 16px;

}

.nome-empreendedor span {
    font-weight: bold;
}

.descricao-produto {
    text-align: justify;
}


.boleto {
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 350px;
    flex-wrap: wrap;
}

.boleto i {
    font-size: 30px;
    margin-right: 10px;

}

.boleto .preco-original {
    font-weight: bold;
    color: #BAC2C5;
    text-decoration: line-through;
    padding-left: 5px;
    padding-right: 5px;
}


.preco-promo {
    font-size: 30px;
    font-weight: bold;
    padding-left: 40px;
    margin-top: -12px;
}

.estoque-produto {
    font-weight: bold;
}

.cartao {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    width: 350px;
    flex-wrap: wrap;
}

.cartao i {
    font-size: 30px;
    margin-right: 10px;
}

.preco-dividido {
    font-size: 15px;
    color: #9FA7AC;
    font-weight: 400;
    padding-left: 40px;
}

.button {
    margin-top: 53px;
    width: 485px;
    height: 79px;
    background-color: #1F1F1F;
    color: #F5B93C;
    font-size: 20px;
    font-weight: 600;
}

.container-carousel {
    width: 821px;
    height: 310px;
    margin: auto;
    margin-top: 55px;
}

.container-carousel img {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    height: 300px;
}

@media(max-width: 1210px) {
    .nome-produto {
        width: 400px;
    }
    .descricao-produto {
        width: 400px;
    }
    .button {
        width: 400px;
    }

    .imagem-produto img {
        width: 400px;
        height: 400px;
        object-fit: cover;
    }
}

@media(max-width: 992px) {
    .nome-produto {
        width: 300px;
    }
    .descricao-produto {
        width: 300px;
    }
    .button {
        width: 300px;
    }

    .imagem-produto img {
        width: 350px;
        height: 350px;
        object-fit: cover;
    }
    .container-carousel {
        width: 721px;
    }
}

@media(max-width: 772px) {
    .container {
        height: 1050px;
        background-color: white;
        display: flex;
        flex-direction: column;
    }

    .container-carousel {
        width: 521px;
        height: 200px;
    }

    .container-carousel img {
        background-size: cover;
        height: 200px;
    }

    .linha {
        height: 2px;
        width: 350px;
        background-color: #9FA7AC;
        margin: auto;
    }
    .nome-produto {
        font-size: 15px;
        font-weight: 500;
    }
}

@media(max-width: 585px) {
    .container {
        width: 90%;
    }
    .container-carousel {
        width: 400px;
        height: 170px;
    }

    .container-carousel img {
        background-size: cover;
        height: 170px;
    }
}

@media(max-width: 430px) {

    .container {
        height: 900px;
        background-color: white;
        display: flex;
        flex-direction: column;
    }

    .container-carousel {
        width: 350px;
        height: 150px;
    }

    .container-carousel img {
        background-size: cover;
        height: 150px;
    }
    .linha {
        width: 280px;
    }

    .imagem-produto img {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
    .button {
        width: 280px;
        height: 69px;
        margin: auto;
        margin-left: 10px;
    }
}
