<div class="trancatela">
    <div class="container-fluid">
        <div class="container1">
            <div class="grid5">
                <div class="titulo">
                    <img class="img" src="../../../../assets/not-found/construction-gbbd6d1163_640 1.png" width="25%"
                        alt="">
                    <h2>Ops! A página não foi encontrada.</h2>
                    <p class="descricao">Erro 404: O conteúdo não está mais disponível ou você digitou o endereço
                        errado.</p>
                    <p><a class="texto" href="./"> Ir para página principal</a></p>
                </div>
            </div>
        </div>
    </div>
</div>