


.container-fluid{
    display: flex;
    background-image: url("../../../../assets/not-found/Group 50.png");
        
        min-height: 50vh;
        background-color: #f5f5f5;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        
    // grid-template-columns: 1fr;
    // grid-template-rows: 1fr ;
    justify-content: center;
    align-content: center;
    text-align: center;
}









.titulo {
    margin-top: 15px;
    position: relative;

}

.img {
    position: sticky;

}

.texto {
    text-decoration: none;
    color: #1f1f1f;

}

.texto:hover {
    text-decoration: underline;
    color: black;
}

@media(max-width: 1000px ) {
    .container {
        display: flexbox;
        background-image: url("../../../../assets/not-found/Group 50.png");
        max-width: 100%;
        min-height: 50vh;
        background-color: #f5f5f5;
        background-repeat: no-repeat;
        background-size: cover;
    }



    .grid5 {
        height: 100%;
        width: 100%;
        // background-color: green;
    }
}