main {
  background-image: url("../../../../assets/img/fundo-produtos-list.png");
  padding-top: 20px;
  padding-bottom: 55px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-content: center;
  justify-content: center;
  width: auto;
  background-color: #f0f0f0;
}

.container-carousel {
  width: 74%;
  height: 310px;
  margin: auto;
  margin-bottom: 20px;
}

.container-carousel img {
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: local;
  height: 300px;
}

.section-filtro {
  display: flex;
  justify-content: center;
}

.container-filtro {
  width: 1120px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.lista-filtro {
  display: flex;
  list-style: none;
  width: 100%;
  height: 100%;
  align-items: center;
}

.todos-produtos {
  padding-left: 50px;
  padding-right: 120px;
  border-right: solid 1px black;
}

.hardware {
  padding-left: 140px;
  padding-right: 150px;
  border-right: solid 1px black;
}

.software {
  padding-left: 150px;
}

.lista-filtro li a {
  text-decoration: none;
  color: black;
}

.lista-filtro li a:hover {
  color: #f5b93c;
  text-decoration: underline;
}

.lista-filtro li i {
  margin-right: 5px;
}

.container-cards1 {
  margin-top: 70px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.container-card {
  height: 530px;
}

.card {
  margin-bottom: 100px;
  width: 301px;
  height: 454px;
  font-size: 75%;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card2 {
  margin-bottom: 100px;
  width: 301px;
  height: 454px;
  font-size: 75%;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.promo {
  display: flex;
  justify-content: center;
  border-bottom: solid 2px #f4da5e;
  height: 54.55px;
}

.porcent-promo {
  width: 92.15px;
  height: 51.58px;
  padding-top: 15px;
  font-size: 16px;
  font-weight: bold;
}

.porcent-promo span {
  color: #2fa53a;
  font-size: 16px;
  font-weight: bold;
}

.time-promo {
  border-left: solid 2px #f4da5e;
  display: flex;
  flex-direction: column;
  width: 138.72px;
  height: 54.55px;
  padding-top: 2px;
  padding-left: 30px;
  color: #ea1010;
  font-size: 16px;
}

.time-promo span {
  color: black;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details img {
  width: 169.81px;
  height: 105.53px;
  margin-top: 50px;
  object-fit: contain;
}

.details2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details2 img {
  width: 169.81px;
  height: 105.53px;
  margin-top: 50px;
  object-fit: contain;
}

.nome-loja {
  width: 170px;
  font-size: 12px;
  text-align: center;
  height: 41px;
  margin-top: 34.5px;
  font-weight: 500;
}

.preco-corte {
  font-size: 20px;
  font-weight: bold;
  color: #bac2c5;
  text-decoration: line-through;
}

.preco-promo {
  font-size: 20px;
  font-weight: bold;
}

.nome-produto {
  width: 170px;
  text-align: center;
}

.parcelas {
  font-size: 12px;
  margin-top: -10px;
}

.button-card {
  width: 299px;
  height: 71px;
  background-color: #1f1f1f;
  display: none;
}

.button-card a {
  text-decoration: none;
  color: white;
}

.card:hover {
  height: 490px;

  .button-card {
    display: block;
  }
}

.button-card2 {
  width: 299px;
  height: 71px;
  background-color: #1f1f1f;
  display: none;
  color: white;
}

.card2:hover {
  height: 450px;

  .button-card2 {
    display: block;
  }
}

@media (max-width: 1300px) {
  .container-carousel {
    width: 1084px;
  }

  // .container-filtro {
  //   width: 280px;
  //   height: 50px;
  //   background-color: white;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   border-radius: 5px;
  //   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  //   margin-left: 7.7%;
  // }
}

@media (max-width: 1180px) {
  .container-carousel {
    width: 100%;
    margin-right: 7.9%;
  }

  .container-filtro {
    width: 960px;
  }

  .todos-produtos {
    padding-left: 40px;
    padding-right: 80px;
  }

  .hardware {
    padding-left: 120px;
    padding-right: 130px;
  }

  .software {
    padding-left: 130px;
  }
}

@media (max-width: 990px) {
  .container-carousel {
    width: 80%;
    margin-right: 12%;
  }

  .container-filtro {
    width: 800px;
  }

  .todos-produtos {
    padding-left: 20px;
    padding-right: 50px;
  }

  .hardware {
    padding-left: 90px;
    padding-right: 100px;
  }

  .software {
    padding-left: 80px;
  }

  .card {
    height: 490px;
    margin-right: 25px;

    .button-card {
      display: block;
    }
  }
}

@media (max-width: 820px) {
  .container-carousel {
    width: 90%;
    height: 260px;

    margin-left: 4.5%;
  }

  .container-carousel img {
    height: 250px;
  }

  .container-filtro {
    width: 740px;
  }

  .todos-produtos {
    padding-left: 30px;
    padding-right: 40px;
  }

  .hardware {
    padding-left: 60px;
    padding-right: 60px;
  }

  .software {
    padding-left: 70px;
  }

  .card {
    height: 490px;

    .button-card {
      display: block;
    }
  }
}

@media (max-width: 768px) {
  main {
    padding-left: 0px;
  }

  .lista-filtro {
    padding-left: 0px;
  }

  .container-carousel {
    width: 87%;
    height: 210px;
    margin-left: 5%;
  }

  .container-carousel img {
    height: 200px;
  }

  .container-filtro {
    width: 530px;
  }

  .todos-produtos {
    padding-left: 30px;
    padding-right: 20px;
  }

  .hardware {
    padding-left: 20px;
    padding-right: 20px;
  }

  .software {
    padding-left: 30px;
    padding-right: 20px;
  }

  .card {
    height: 490px;

    .button-card {
      display: block;
    }
  }
}

@media (max-width: 558px) {
  .container-carousel {
    width: 90%;
    height: 160px;
  }

  .container-filtro {
    width: 400px;
  }

  .todos-produtos {
    padding-left: 20px;
    padding-right: 10px;
    font-size: 13px;
  }

  .hardware {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
  }

  .software {
    padding-left: 15px;
    padding-right: 0px;
    font-size: 13px;
  }

  .container-carousel img {
    height: 150px;
  }
}

@media (max-width: 420px) {
  .container-carousel {
    width: 350px;
    height: 140px;
    margin-left: 7.5%;
  }

  .container-carousel img {
    height: 130px;
  }

  .container-filtro {
    width: 360px;
  }

  .todos-produtos {
    padding-left: 10px;
    padding-right: 5px;
    font-size: 13px;
  }

  .hardware {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
  }

  .software {
    padding-left: 15px;
    font-size: 13px;
  }

  .card {
    height: 490px;

    .button-card {
      display: block;
    }
  }
}

@media (max-width: 400px) {
  .container-carousel {
    width: 85%;
    height: 140px;
    padding-left: 1%;
  }

  .container-carousel img {
    height: 130px;
  }

  .card {
    height: 490px;

    .button-card {
      display: block;
    }
  }

  @media (max-width: 280px) {
    main {
      place-items: center;
      width: 280px;
    }

    .container-carousel {
      width: 85%;
      height: 140px;
      padding-left: 1%;
    }

    .container-filtro {
      width: 200px;
      height: 50px;
      margin-right: 10%;

      .button-filtro {
        width: 90px;

        font-size: 9px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-items: center;
      }

      p {
        margin-left: 25px;
      }
    }

    .container-carousel img {
      height: 130px;
    }

    .container-cards1 {
      width: 150px;
      margin-left: 5%;
    }

    div {
      width: 90%;
    }

    .card {
      width: 220px;
      text-align: center;
      place-items: center;

      height: 490px;

      .button-card {
        display: block;
        width: 220px;
      }

      .time-promo {
        font-size: small9;
      }
    }
  }
}