<main class="trancatela">
  <section class="container-produtos">
    <h2 class="carrinho-titulo"><i class="bi bi-cart3">Carrinho</i></h2>
    <div *ngIf="cartitems.length > 0">
      <div class="produtos" *ngFor="let tempCartItem of cartitems">
        <img src="{{ tempCartItem.imagem }}" alt="Imagem de uma placa de video"/>
        <p class="nome-produto desktop">{{tempCartItem.loja}}</p>
        <div class="produto-descricao">
          <p class="nome-produto">
            {{ tempCartItem.name }}
          </p>
          <p class="preco">
            Preço:<span>
              {{ tempCartItem.preco_unidade | currency: "BRL" }}</span>
          </p>
          <p class="preco">
            Quantidade:<span> {{ tempCartItem.quantidade }}</span>
          </p>
          <p class="preco">
            Valor:<span>
              {{
              tempCartItem.quantidade * tempCartItem.preco_unidade!
              | currency: "BRL"
              }}</span>
          </p>
          <p class="nome-produto mobile">{{tempCartItem.loja}}</p>
          <div class="items">
            <label class="text-quantidade">Quantidade:</label>
            <div class="row no-gutters">
              <div class="container-quantidade">
                <div class="col">
                  <button (click)="decrementQuantity(tempCartItem)" class="btn button-decremento">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
                <div class="col ml-4 mr-2">
                  {{ tempCartItem.quantidade }}
                </div>
                <div class="col">
                  <button (click)="incrementQuantity(tempCartItem)" class="btn button-incremento">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>
              <button (click)="remove(tempCartItem)" class="btn button-deletar">
                Deletar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container-dados">
    <h2 class="titulo-resumo">Resumo</h2>
    <div class="preco-total">
      <p class="preco">
        Total: <span>{{ totalPrice | currency: "BRL" }}</span>
      </p>
      <p class="preco quantidade">
        Quantidade de Itens: <span>{{ totalQuantity }}</span>
      </p>
      <button class="button-comprar" type="button">COMPRAR</button>
      <button class="button-continuar-comprando" type="button">
        <a routerLink="/produtos-list">CONTINUAR COMPRANDO</a>
      </button>
    </div>
  </section>
  <ng-template #removeModalCarrinho class="container-modal">
    <div class="modal-body text-center">
      <h4>ATENÇÃO</h4>
      <p>Deseja realmente remover este produto ?</p>
      <button type="button" class="btn btn-default" (click)="confirmaRemoveProduto()">Sim</button>
      <button type="button" class="btn btn-primary" (click)="naoRemover()">Não</button>
    </div>
  </ng-template>
</main>