.btn-cadstLoja{
    color: white;
    justify-content: center;
    margin-top: 7px;
    }
    
    .botao-cadstLoja{
    bottom: -30px;  
    text-decoration: none;
    }
    
    .link{
        text-decoration: none;
    }