<div class="trancatela">
<div class="container">
    <div class="row">
      <div class="col-sm">
        <h3 style="margin-top:5%"><strong>SEJA NOSSO PARCEIRO!</strong></h3>
      </div>
      <div class="col-sm">
        <button style="margin-left:82%; margin-top: 5%;" mat-button mat-dialog-close>
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div id="dialogHome" class="mb-5 slide" style="margin-top:20px">
    <div class="dialog-img1">
      <img src="../../../../assets/img/lojDialog.jpeg" class="d-block w-100"
          alt="...">
      </div>
    <button class="botao-cadstLoja" type="button" mat-raised-button>
      <a class="link" href="/cadastro">
        <p class="btn-cadstLoja">Cadastre sua Loja Aqui</p>
      </a>
    </button>
  </div>
</div>