.btn-cadstLoja{
    color: #F5B93C;
    justify-content: center;
    margin-top: 7px;
    }
    
    .botao-cadstLoja{
    bottom: -30px;  
    text-decoration: none;
    background-color: black;

    }
    
    .link{
        text-decoration: none;
    }