<footer class="footer-04">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
                <h2 class="footer-heading"><a href="#" class="logo">InfoClick</a></h2>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                <a href="#">Mais informações <span class="ion-ios-arrow-round-forward"></span></a>
            </div>
            <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
                <h2 class="footer-heading">Categoias</h2>
                <ul class="list-unstyled">
                    <li><a href="#" class="py-1 d-block">Comprar &amp; Vender</a></li>
                    <li><a href="#" class="py-1 d-block">Empreendedor</a></li>
                    <li><a href="#" class="py-1 d-block">Devolução</a></li>
                    <li><a href="#" class="py-1 d-block">Ajuda &amp; Suporte</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
                <h2 class="footer-heading">Formas de Pagamentos</h2>
                <div class="tagcloud">
                    <ul class="ftco-footer-social p-0">
                        <li>
                            <img src="https://s3-alpha-sig.figma.com/img/e0f4/279c/396bbc65b62e836f7fa6c3cc5a46b21e?Expires=1658102400&Signature=AqKF8OlC2LBfvwRHiM-dD5DEFDALG5PZ1ff9Nq~OqFfKrZHLwrkYlSPAMMzt-E0ooOixyn3HQW6GgtErtMO8q-HwZrtG32Lj3iI8~UEdr3cFhB4ly0aAJwSQ8qK6csHNjwpdEzwOBLjrebzf7l6dCVCH7krUZSKCYNj5oY1du4UJmlCPqhL6UFDe9BlvTPZnf1u4vpm1KNBt6nhfzOGv4-nWwFo6xiAiYqPVzOMY4TJj5E7EgsJ24qvtoG2CGcqN7xAWcgdsURIYptHmajnCiWrZ0vj~Q2ffXMqnM0s~eaBdkSgPXWNLKR7w1~zwE0wQZMF0AbMog1miEAUKCmxNcw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
                                alt="">
                        </li>
                        <li>
                            <img src="https://s3-alpha-sig.figma.com/img/1f94/092e/76e3370a88343b4c674b6edc6107eab2?Expires=1658102400&Signature=YIzrYq6LDTkrTeRpnBdgc-MNROfv7rYlB6A7vIvfb4GuIjx28YvnQx2GAY5uUWlwfx-atAxHt-q1x2Dqor06NQDomMWnv3Nau5xdgmp5xZya~Bzq~cGhqGXof0pw0Z5WG3sPeUsneDl795PCVQhaPJfMtOhpy4KfNGHYBOND~A4la~k2lyMACR1S4VlBzYSzo9Ap7KCHVnz4CSVhcivRG-S5uJXvjxyU9cFYbMLvftBMqJWQstH1KIWN~uJgVF8DqAP0fzaEZPPCict1VWIqbstq7395ETIC4UBZZEb--rZj~2p6hSKLqDOuh6yGQ3MfAXryQNFgIpKhKFnGL0SwUg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
                                alt="">
                        </li>
                        <li>
                            <img src="https://s3-alpha-sig.figma.com/img/3dbf/b44b/3dff8e7bd8ea2c301f276483dd5e80d4?Expires=1658102400&Signature=OKj0rPTvD1UxmKRIxd8GeUsq~iBDDVlKsW83iDLuDZe8f5EJWaZuspt9~Q0aZoBvlT6ctSq4grB-xpq4cFQNO-omkTgX5YRXvjQoN2-Gfq5Yovn0~MtrdYg6nt0GYPMki0czEyJzQir-r0EcW7nYdW8QzyoEm90gD1eaWIs6LrOGpv3JbWYUoJWRffljPjN5A3V5qIAumA6rlN58y5tMUy~wWRAqySxIux2KmzMDrirHzqHIput4AdX-uQmU1SsCVe8TP0~4RtwT0Xwdt06OmX~GQhyRuqFAo~JEMYmD5-7qQrDNrBEfBw5Y4KRF-JEsXsdcHxshLJ-gUjo3ATsMeg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
                                alt="">
                        </li>
                        <li>
                            <img src="https://s3-alpha-sig.figma.com/img/e7b7/12f5/33c1a9a10e9fbbe674fb5882b9787e7b?Expires=1658102400&Signature=RHYWx8k4PHuy-Gwsq0eHrGpA2tZWiJUVdnNgnZs5EXkxqJbB3QL3XAgVX~U4vlFn3GsDBZxePdpFKDlaFddtHeimJa~84-zVUZW2yMghNUXdjc64zJDIHaYBBfBWPuTwaTTLoFa99wWcIGHdNhgF-u1OatPJC0uyaOIWfuv3XYRX73gqbuEwVT43OefsqK~fSiXCwi4PFWm3eFFB4RRt9WvA1E8nPT11Fnitlv7lylxdwh7DsQYuHklZYVpUJLbP1h~RL5msT0NOkpLqBVzceLu6G0Vbf5OG0TzqTX7P4qfZl10AxQe-btRE7p4XDuddyo4pqhYBan1iIPcZW050lA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
                                class="pix" alt="">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
                <h2 class="footer-heading">Assinar</h2>
                <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                        <input type="text" class="form-control rounded-left" placeholder="Digite seu e-mail">
                        <button type="submit" class="form-control submit rounded-right"><span
                                class="sr-only">Enviar</span><i class="ion-ios-send"><i
                                    class="bi bi-send"></i></i></button>
                    </div>
                </form>
                <h2 class="footer-heading mt-5">Siga-nos</h2>
                <ul class="ftco-footer-social p-0">
                    <li class="ftco-animate"><a
                            href="https://twitter.com/SoulCodeAcademy?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
                            target="_blank" rel="noopener noreferrer" data-toggle="tooltip" data-placement="top"
                            title="Twitter"><span class="ion-logo-twitter"><i class="bi bi-twitter"></i></span></a>
                    </li>
                    <li class="ftco-animate"><a href="https://www.instagram.com/soulcodeacademy/" target="_blank"
                            rel="noopener noreferrer" data-toggle="tooltip" data-placement="top" title="Instagram"><span
                                class="ion-logo-instagram"><i class="bi bi-instagram"></i></span></a></li>
                    <li class="ftco-animate"><a href="https://www.facebook.com/SoulCodeAcademy" target="_blank"
                            rel="noopener noreferrer" data-toggle="tooltip" data-placement="top" title="Facebook"><span
                                class="ion-logo-facebook"><i class="bi bi-facebook"></i></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="w-100 mt-5 border-top py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-8">
                    <p class="copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> Todos os direitos reservados |
                        Este modelo é feito <i class="ion-ios-heart" aria-hidden="false"></i> para <a
                            href="https://colorlib.com" target="_blank">InfoClick.com</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
                <div class="col-md-6 col-lg-4 text-md-right">
                    <p class="mb-0 list-unstyled">
                        <a class="mr-md-3" href="\termo-de-privacidade/#Termo de Uso" title="Termo de Uso">Termos</a>
                        <a class="mr-md-3" href="\termo-de-privacidade/#Termo de Privacidades"
                            title="Termo de Privacidades">Privacidade</a>
                        <a class="mr-md-3" href="\termo-de-privacidade/#Termo de Conformidades"
                            title="Termo de Conformidades">Conformidades</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>