<main class="trancatela">
    <div class="container">
        <section class="caixa-principal">
            <section>
                <h4>CRIE SUA LOJA</h4>
            </section>
            <form [formGroup]="lojaForm" (ngSubmit)="onSubmitloja()">
                <div class=" form-align">
                    <mat-label class="form-label">Nome</mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Nome da sua loja" formControlName="nomeLoja" type="text"
                            required="nomeLoja">
                        <mat-error *ngIf="lojaForm.get('nomeLoja')?.errors?.['required']">Campo obrigatório</mat-error>
                    </mat-form-field>
                </div>
                <div class=" form-align">
                    <mat-label class="form-label">Descrição</mat-label>
                    <mat-form-field appearance="outline">
                        <textarea matInput placeholder="Descrição da sua loja" formControlName="descricaoLoja"
                            type="text" required="descricaoLoja"></textarea>
                        <mat-error *ngIf="lojaForm.get('descricaoLoja')?.errors?.['required']">Campo obrigatório
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class=" form-align">
                    <mat-label class="form-label">Cor</mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput type="color" formControlName="corDeFundo" required="corDeFundo">
                        <mat-error *ngIf="lojaForm.get('corDeFundo')?.errors?.['required']">Campo obrigatório
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class=" form-align">
                    <mat-label for="foto" class="label-align form-label">Imagem</mat-label>
                    <input class="btn form-align upload" id="cloud" (change)="setImage($event)" #foto type="file"
                        formControlName="imagemLoja" name="imagemLoja" hidden>
                    <button class="btnCheck btn form-align upload" (click)="foto.click()" type="button"
                        mat-raised-button>
                        <span *ngIf="!carregando; else loading">
                          <i class="bi bi-cloud-plus" *ngIf="mudar; else upload"></i>
                        </span>
                          <ng-template #upload >
                            <mat-icon class="done">done</mat-icon>
                          </ng-template>
                          <ng-template #loading>
                            <div class="uploader-status">
                              <mat-spinner diameter="45" customSpinner></mat-spinner>
                            </div>
                          </ng-template>
                    </button>
                </div>
                <button mat-raised-button color="black" class="btn btn-dark"
                    [disabled]="lojaForm.invalid">Enviar</button>
            </form>
        </section>
    </div>
</main>
