<main class="trancatela">

  <body [ngStyle]="{'background-color':loja.corDeFundo}">
    <div class="banner-loja">
      <img class="logo-loja" src="{{ loja.imagemLoja }}" />
      <div class="container-informacoes">
        <div class="container-nome-loja">
          <p class="nome-loja"><span>Nome: </span>{{ loja.nomeLoja }}</p>
          <p class="descricao-loja">
            <span>Descrição:</span> {{ loja.descricaoLoja }}
          </p>
          <p class="data-loja">
            <span>Desde: </span>{{ loja.dataCriacao }}
          </p>
        </div>
      </div>
    </div>
  </body>
  <h2 class="titulo">Todos os Produtos</h2>
  <section>
    <div class="menu" *ngIf="opGerencia">
      <button class="button-opcoes" (click)=" clickOpcoes()">
        <i class="bi bi-list menu-hamburguer"></i>GERENCIAR<i class="bi bi-caret-down-fill arrow"></i>
      </button>
      <ul class="lista-opcoes" *ngIf="botaoGerenciar">
        <li class="adicionar">
          <a [routerLink]="['/produto-create']"><i class="bi bi-plus-circle"></i><span> ADICIONAR</span> PRODUTO</a>
        </li>
        <li class="editar">
          <a class="button" (click)="openDialog()"><i class="bi bi-pen"> </i> EDITAR LOJA</a>
        </li>
      </ul>
    </div>
  </section>
  <section>
    <div class="menu-mobile" *ngIf="opGerencia">
      <button class="button-opcoes-mobile" (click)=" clickOpcoes()">
        <i class="bi bi-list menu-hamburguer-mobile"></i>
      </button>
      <ul class="lista-opcoes-mobile" *ngIf="botaoGerenciar">
        <li class="adicionar-mobile">
          <a [routerLink]="['/produto-create']"><i class="bi bi-plus-circle"></i> PRODUTO</a>
        </li>
        <li class="editar-mobile">
          <a (click)="openDialog()"><i class="bi bi-pen"> </i> EDITAR LOJA</a>
        </li>
      </ul>
    </div>
  </section>
  <section class="container-cards1">
    <div *ngFor="let itens of loja.produtos">
      <div *ngIf="produto.produtoAntigoValor != produto.produtoValor; else semDesconto">
        <div class="card">
          <div class="promo">
            <p class="porcent-promo"><span>{{itens.produtoDesconto}}%</span> OFF</p>
            <p class="time-promo">
              termina em:
              <span>{{itens.dataLimitePromocao | date }}</span>
            </p>
          </div>

          <div class="details">
            <a routerLink="/produto-detail/{{ itens.id }}" class="img-wrap" data-abc="true">
              <img src="{{ itens.produtoImagem }}" />
            </a>
            <p class="nome-produto">
              {{ itens.name }}
            </p>
            <p class="preco-corte">
              De: {{ itens.produtoAntigoValor | currency: "BRL" }}
            </p>
            <p class="preco-promo">
              Por: {{ itens.produtoValor | currency: "BRL" }}
            </p>
            <div class="botoes-edit" *ngIf="opGerencia">
              <a class="botoes-edit-a" (click)="editarProduto(itens.id!)">
                <mat-icon style="font-size: 30px">edit</mat-icon>
              </a>
              <div class="botoes-edit-linha"></div>
              <a *ngIf="opGerencia" class="old" (click)="deletarProdutoModal(itens)"><i class="bi bi-trash"
                  style="font-size: 25px;"></i></a>
            </div>
            <button (click)="addToCart(itens)" class="button-card" type="button" *ngIf="!opGerencia">
              <a>ADICIONAR AO CARRINHO</a>
            </button>
          </div>
        </div>
      </div>
      <ng-template #semDesconto>
        <div class="container-card">
          <div class="card2">
            <div class="promo">
              <p class="porcent-promo">{{itens.categoria}}</p>
            </div>
            <div class="details2">
              <a routerLink="/produto-detail/{{ itens.id }}" class="img-wrap" data-abc="true">
                <img src="{{ itens.produtoImagem }}" alt="Imagem de um computador" />
              </a>
              <a routerLink="/loja-empreendedor/{{itens.loja?.idLoja }}" class="img-wrap" data-abc="true">
                <p class="nome-loja">
                  <b>{{ itens.loja?.nomeLoja }}</b>
                </p>
              </a>
              <p class="nome-produto">{{ itens.name }}</p>
              <p class="preco-promo">
                {{ itens.produtoValor | currency: "BRL" }}
              </p>
              <div class="botoes-edit" *ngIf="opGerencia">
                <a class="botoes-edit-a" (click)="editarProduto(itens.id!)">
                  <mat-icon style="font-size: 30px">edit</mat-icon>
                </a>
                <div class="botoes-edit-linha"></div>
                <a *ngIf="opGerencia" class="old" (click)="deletarProdutoModal(itens)"><i class="bi bi-trash"
                    style="font-size: 25px;"></i></a>
              </div>
              <button (click)="addToCart(itens)" class="button-card2" type="button" *ngIf="!opGerencia">
                <a>ADICIONAR AO CARRINHO</a>
              </button>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </section>
  <ng-template #deleteModal>
    <div class="modal-body text-center">
      <p>Deseja deletar esse Produto?</p>
      <button type="button" class="btn btn-default" style="margin-right: 25px;" (click)="confirmaDelete()">Sim</button>
      <button type="button" class="btn btn-primary" (click)="naoDeletar()">Não</button>
    </div>
  </ng-template>
</main>