main {
  background-color: #f5f5f5;
}

.banner-loja {
  height: 360px;
  display: flex;
  align-items: center;
  padding-left: 65px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.logo-loja {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: contain;
}

.p-collapse {
  text-align: center;
  border: none;
  margin-top: -1.5px;
}

.button-collapse {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  box-shadow: none;
}

.button{
  cursor: pointer;
}

.container-informacoes {
  width: 777px;
  height: 245px;
  // background-color: rgba(255, 255, 255, 0.278);
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
  border-radius: 10px;
  // box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  /* From https://css.glass */
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);

}

.container-nome-loja {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.nome-loja span,
.data-loja span,
.descricao-loja span {
  font-weight: bold;
}

.descricao-loja {
  width: 50%;
  text-align: justify;
}

.titulo {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  border-bottom: 1px solid rgb(121, 121, 55);
  width: 360px;
}

/********************inicio*************************/

.menu {
  margin: 0px 0px 0px 15px;
}

.button-opcoes {
  width: 200px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  color: #000000;
  border: 0.5px solid #bac2c5;
  border-radius: 6px;
}

.menu-hamburguer {
  font-size: 22px;
  margin-right: 16px;
  color: #000000;
}

.arrow {
  font-size: 13px;
  margin-right: 12px;
  margin-left: 20px;
  color: #000000;
}

.lista-opcoes {
  padding-top: 7px;
  position: absolute;
  background-color: #f0f0f0;
  width: 200px;
  padding-left: 0px;
}

.lista-opcoes li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lista-opcoes li a {
  text-decoration: none;
  color: black;
}

.adicionar:hover {
  height: 30px;
  padding-top: 4px;
  background-color: #f4da5e;
  border-radius: 6px;
}

.editar:hover {
  width: 140px;
  height: 30px;
  margin-left: 31px;
  padding-top: 4px;
  background-color: #f4da5e;
  border-radius: 6px;
}

.menu-mobile {
  display: none;
}

/*******************fim*************************/
.container-cards1 {
  margin-top: 70px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  margin-bottom: 100px;
  width: 301px;
  height: 454px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card2 {
  margin-bottom: 100px;
  width: 301px;
  height: 454px;
  font-size: 75%;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.promo {
  display: flex;
  justify-content: center;
  border-bottom: solid 2px #f4da5e;
  height: 54.55px;
}

.porcent-promo {
  width: 92.15px;
  height: 51.58px;
  padding-top: 15px;
  font-size: 15px;
  font-weight: bold;
}

.porcent-promo span {
  color: #2fa53a;
  font-size: 16px;
  font-weight: bold;
}

.time-promo {
  border-left: solid 2px #f4da5e;
  display: flex;
  flex-direction: column;
  width: 138.72px;
  height: 54.55px;
  padding-top: 2px;
  padding-left: 30px;
  color: #ea1010;
  font-size: 16px;
}

.time-promo span {
  color: black;
}

.botoes-edit {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 60px;
  border-top: 2px solid #f4da5e;
}

.botoes-edit-linha {
  height: 60px;
  width: 2px;
  background-color: #f4da5e;
}

.botoes-edit-a {
  margin-right: -40px;
  color: hsl(226, 94%, 55%);
  cursor: pointer;
}

.bi-trash {
  margin-left: -40px;
  cursor: pointer;
}

.old {
  text-decoration: none;
  color: #ea1010;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details img {
  width: 169.81px;
  height: 105.53px;
  margin-top: 50px;
  object-fit: contain;
}

.details2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details2 img {
  width: 169.81px;
  height: 125.53px;
  margin-top: 50px;
  object-fit: contain;
}

.nome-produto {
  width: 170px;
  font-size: 12px;
  text-align: center;
  height: 41px;
  margin-top: 34.5px;
  font-weight: 500;
}

.preco-corte {
  font-size: 20px;
  font-weight: bold;
  color: #bac2c5;
  text-decoration: line-through;
}

.preco-promo {
  font-size: 20px;
  font-weight: bold;
}

.parcelas {
  font-size: 12px;
  margin-top: -10px;
}

.button-card {
  width: 299px;
  height: 71px;
  background-color: #1f1f1f;
  display: none;
}

.button-card a {
  text-decoration: none;
  color: white;
}

.card:hover {
  .button-card {
    display: block;
  }
}

.button-card2 {
  width: 299px;
  height: 71px;
  background-color: #1f1f1f;
  display: none;
  color: white;
}

.card2:hover {
  height: 450px;

  .button-card2 {
    display: block;
  }
}

@media (max-width: 1000px) {
  .container-informacoes {
    width: 600px;
  }
}

@media (max-width: 830px) {
  .container-informacoes {
    width: 500px;
    height: 280px;
  }

  /************inicio**830*************/
  .button-opcoes {
    width: 160px;
  }

  .menu-hamburguer {
    margin: 0 0 0 30px;
  }

  .arrow {
    margin-right: 30px;
    margin-left: 5px;
  }

  .lista-opcoes {
    width: 150px;
  }

  .adicionar a span {
    display: none;
  }

  .button-card {
    display: block;
    margin-top: -6px;
  }
}

@media (max-width: 730px) {
  .banner-loja {
    height: 500px;
  }

  .container-informacoes {
    width: 400px;
    display: flex;
    flex-direction: column;
    height: 450px;
  }

  .container-nome-loja {
    align-items: center;
  }

  .descricao-loja {
    width: 80%;
  }

  .menu {
    display: none;
  }

  .menu-mobile {
    font-size: 35px;
    display: flex;
    align-items: center;
    border: none;
  }

  .button-opcoes-mobile {
    background-color: #f5f5f5;
    margin-top: 5px;
    border: none;
  }

  .menu-hamburguer-mobile {
    background-color: #f5f5f5;
    font-size: 35px;
    margin-left: 15px;
    border: none;
  }

  .lista-opcoes-mobile {
    background-color: #f0f0f0;
    margin: 85px 0 0 20px;
    font-size: 16px;
    width: 120px;
    padding-top: 7px;
    position: absolute;
    padding-left: 0px;
  }

  .lista-opcoes-mobile li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .lista-opcoes-mobile li a {
    text-decoration: none;
    color: black;
  }
}

@media (max-width: 630px) {
  .banner-loja {
    padding-left: 10px;
  }
}

@media (max-width: 580px) {
  .banner-loja {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 0px;
    height: 800px;
  }

  .container-informacoes {
    margin: 0;
  }
}

@media (max-width: 424px) {
  .container-informacoes {
    width: 350px;
  }
}