main {
  background-image: url("../../../assets/img/fundoO.png");
  background-image: no-repeat;
  background-color: #f5f5f5;
  background-size: contain;
  padding-bottom: 35px;
}

.container-fluid {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.caixa-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 730px;
  font-size: 20px;
  border-bottom: 1px solid #bac2c5;
  border-left: 1px solid #bac2c5;
  border-right: 1px solid #bac2c5;
  border-radius: 0px 0px 15px 15px;
  margin-top: 15px;
  padding-top: 15px;
}

h4 {
  font-size: 30px;
  color: #f5b93c;
  font-weight: bold;
  margin: 20% 0px 20% 0px;
}

hr {
  width: 515px;
  margin-bottom: 30px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;

  span{
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #bac2c5;
    margin-left: 20px;
    height: 63px;
  }
}

.titulo{
  height: 63px;
  display: flex;
  flex-direction: column;
}

h4{
  margin-top: 0;
}

.header p {
  font-size: 20px;
  margin-top: -40px;
}

.bi-person-circle{
  padding-left: 16px;
  font-size: 50px;
}

input, mat-select {
  margin-bottom: 9px;
}

.align-414 button {
  position: absolute;
  top: 7px;
  right: -10px;
}

.btn-dark {
  font-size: 20px;
  color: #f5b93c;
  margin: 0px 175px 30px 175px;
  width: 157px;
  height: 60px;
}


.caixa-input {
  width: 430px;
  margin: 0px;
  padding: 0px;;
}

.form-align mat-label {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  margin-bottom: 25px;
  margin-right: 15px;
  width: 20px;
}

.ruaNum {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
}

.form-align {
  width: 520px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.upload {
  max-height: 69px;
  padding: 40px 0px;
  display: flex;
  justify-content: center;
  border: 0.5px solid #d4d9dd;
  border-radius: 4px;
  width: 82.5%;
  margin-bottom: 30px;
}

.bi-cloud-plus {
  font-size: 30px;
}

.label-align {
  margin-right: 20px;
  margin-top: 0px;
}

#cloud {
  width: 82.5%;
}


@media only screen and (max-width: 1200px) {
  .caixa-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 623.781px;
    border-bottom: 1px solid #bac2c5;
    border-left: 1px solid #bac2c5;
    border-right: 1px solid #bac2c5;
    border-radius: 0px 0px 15px 15px;
  }

  hr {
    width: 515px;
  }

  .upload {
    margin-top: 0px;
    width: 82.5%;
    padding: 38px 0px;
  }

  .align-414 button {
    position: absolute;
    top: 7px;
    right: -10px;
  }

  #cloud {
    width: 82.5%;
  }

  .btn-dark {
    margin: 0px 190px 30px 190px;
    width: 157px;
    height: 60px;
  }

  .loginLink a {
    margin-right: 20%;
    margin-top: 8%;
  }
}

@media only screen and (max-width: 900px) {

  main {
    background-image: none;
    background-color: #f5f5f5;
  }

  hr {
    width: 460px;
  }

  .caixa-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 675px;
    border-bottom: 1px solid #bac2c5;
    border-left: 1px solid #bac2c5;
    border-right: 1px solid #bac2c5;
    border-radius: 0px 0px 15px 15px;
    color: #000000;
  }


  .form-align {
    padding: 0px 30px 0px 30px;
  }

  .upload {
    width: 425px;
    margin-top: 0px;
    height: 69px;
    padding: 38px 0px;
  }

  // .fotoCon,
  // .fotoEmp {
  //   margin-top: 25px;
  // }

  .align-414 button {
    position: absolute;
    top: 7px;
    right: -10px;
  }

  .btn-dark {
    margin: 0px 190px 30px 190px;
  }

  .caixa-input {
    width: 430px;
    margin: 0px;
    padding: 0px;
  }

  .form-label {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    margin-bottom: 25px;
    width: 70px;
  }

  #cloud {
    width: 82.5%;
  }
}

@media only screen and (max-width: 680px) {
  main {
    background-image: none;
    background-color: #f5f5f5;
  }

  .caixa-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 480px;
    border-bottom: 1px solid #bac2c5;
    border-left: 1px solid #bac2c5;
    border-right: 1px solid #bac2c5;
    color: #000000;
    border-radius: 0px 0px 15px 15px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  hr {
    width: 375px;
  }

  .caixa-form{
  width: 400px;
  }

  .label-align {
    width: 80px;
  }

  .caixa-input {
    width: 300px;
    margin: 0px;
    padding: 0px;
  }

  .form-label {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    margin-left: 60px;
    margin-bottom: 25px;
    width: 80px;
  }

  .align-414 button {
    position: absolute;
    top: 7px;
    right: -10px;
  }

  .form-align {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -75px;
    padding: 0;
  }

  .form-align #cloud {
    padding: 35px 0;
    margin: 0;
    width: 300px;
  }

  .btn-dark {
    margin: 0px 210px 30px 210px;
  }

  .upload {
    width: 285px;
    margin: 0;
    max-height: 69px;
    padding: 38px 0px;
    margin-bottom: 30px;
  }

  #cloud{
    width: 82.5%;
  }
}

@media only screen and (max-width: 415px) {
  main {
    background-image: none;
    background-color: #f5f5f5;
  }

  .caixa-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 360px;
    border-bottom: 1px solid #bac2c5;
    border-left: 1px solid #bac2c5;
    border-right: 1px solid #bac2c5;
    color: #000000;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0px 0px 15px 15px;
  }

  .container {
    width: 350px;
  }

  hr {
    width: 305px;
  }

  .caixa-form{
    width: 300px;
    }

  .caixa-input {
    width: 300px;
    margin: 0px;
    padding: 0px;
  }

  .form-label {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    margin-bottom: 25px;

    width: 70px;
  }

  .label-align {
    width: 50px;
  }

  .form-align {
    margin-left: 0;
    padding-right: 0px;
    width: 300px;
    display: flex;

    align-items: center;
  }

  .form-align #cloud {
    padding: 35px 0;
    margin: 0;
    width: 300px;
  }

  .upload {
    width: 210px;
    margin-top: 0px;
    max-height: 69px;
    padding: 15px 0px;
    padding: 38px 0px;
  }

  .btn-dark {
    margin: 0px 70px 30px 70px;
  }

}
