main {
  background-image: url("../../assets/img/Fundo-home.png");
}

.img-carousel {
  object-fit: cover;
}

::ng-deep .carousel-control-prev-icon{
  background-image: url('https://www.svgrepo.com/show/87550/next.svg');
  transform: rotate(180deg);
 }

 ::ng-deep .carousel-control-next-icon{
  background-image: url('https://www.svgrepo.com/show/87550/next.svg');
 }

.container-cards1 {
  margin-top: 200px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-container {
  height: 540px;
}

.carousel-control-next,
.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
  background: blue;
}

.carousel-control-next-icon {
  background-color: #ea1010 !important;
}

.picsum-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 100px;
}

.picsum-img-wrapper h1 {
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 20px;
}

.link-banner {
  text-decoration: none;
  color: #1f1f1f;
}

.p1-carousel {
  width: 645px;
  height: 155px;
  font-size: 18px;
}

.img-2 {
  width: 400px;
  height: 320px;
}

.div-bola-amarela {
  background-image: url("../../assets/img/bola-amarela.png");
  background-repeat: no-repeat;
  background-position: right;
}

.div-bola-amarela-2 {
  background-image: url("../../assets/img/bola-amarela2.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 380px;
  padding-top: 20px;
}

.div-bola-amarela-3 {
  background-image: url("../../assets/img/bola-amarela.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 370px;
  width: 400px;
  padding-top: 65px;
  padding-left: 50px;
}
.card {
  margin-bottom: 100px;
  width: 301px;
  height: 454px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.promo {
  display: flex;
  justify-content: center;
  border-bottom: solid 2px #f4da5e;
  height: 54.55px;
}

.porcent-promo {
  width: 92.15px;
  height: 51.58px;
  padding-top: 15px;
  font-size: 16px;
  font-weight: bold;
}

.porcent-promo span {
  color: #2fa53a;
  font-size: 16px;
  font-weight: bold;
}

.time-promo {
  border-left: solid 2px #f4da5e;
  display: flex;
  flex-direction: column;
  width: 138.72px;
  height: 54.55px;
  padding-top: 2px;
  padding-left: 30px;
  color: #ea1010;
  font-size: 16px;
}

.time-promo span {
  color: black;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details img {
  width: 169.81px;
  height: 105.53px;
  margin-top: 50px;
  object-fit: contain;
}

.nome-loja {
  width: 170px;
  font-size: 12px;
  text-align: center;
  height: 41px;
  margin-top: 34.5px;
  font-weight: 500;
}

.preco-corte {
  font-size: 20px;
  font-weight: bold;
  color: #bac2c5;
  text-decoration: line-through;
}

.preco-promo {
  font-size: 20px;
  font-weight: bold;
}

.parcelas {
  font-size: 12px;
  margin-top: -10px;
}

.button-card {
  width: 299px;
  height: 71px;
  background-color: #1f1f1f;
  display: none;
}

.nome-produto {
  text-align: center;
}

.button-card a {
  text-decoration: none;
  color: white;
}

.card:hover {
  height: 490px;

  .button-card {
    display: block;
  }
}

.promo-card {
  margin-top: 283px;
  background-image: url("../../assets/img/1.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  height: 700px;
}

.informacoes-container {
  margin-top: 142px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #f5f5f5;
}

.infos-div {
  display: flex;
  height: 392px;
  align-items: center;
}

.infos-1,
.infos-2,
.infos-3,
.infos-4 {
  width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infos-1,
.infos-2,
.infos-3,
.infos-4 {
  padding-right: 5px;
  height: 325px;
}

.info-1-img,
.info-2-img,
.info-3-img,
.info-4-img {
  height: 70px;
  width: 65px;
  object-fit: cover;
}

.info-nome {
  margin-top: 7px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.info-loja {
  margin-top: 8px;
  width: 297px;
  font-size: 20px;
  text-align: center;
}

.saiba-mais {
  font-weight: bold;
  font-size: 20px;
}

.saiba-mais-4 {
  font-weight: bold;
  font-size: 20px;
}

.saiba-mais a,
.saiba-mais-4 a {
  text-decoration: none;
  color: #f5b93c;
}

.linha {
  height: 256px;
  width: 2px;
  background-color: #3483fa;
}

@media (max-width: 1920px) {
  main {
    background-image: url("../../assets/img/Fundo-home.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .picsum-img-wrapper {
    width: 100%;
  }

  .img-carousel {
    object-fit: cover;
    width: 100%;
  }
}

@media (max-width: 1440px) {
  .picsum-img-wrapper {
    width: 100%;
  }

  .img-carousel {
    object-fit: cover;
    width: 100%;
  }
}

@media (max-width: 1300px) {
  .picsum-img-wrapper {
    width: 100%;
  }

  .img-carousel {
    object-fit: cover;
    width: 100%;
  }
}

@media (max-width: 1070px) {
  .p1-carousel {
    width: 500px;
    height: 155px;
    font-size: 16px;
  }
}

@media (max-width: 950px) {
  .picsum-img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: none;
    justify-content: center;
    background-color: #f5f5f5;
    padding-top: 50px;
  }

  .carousel-info {
    order: 2;
  }

  .div-bola-amarela,
  .div-bola-amarela-2,
  .div-bola-amarela-3 {
    order: 1;
    margin-left: -70px;
  }

  .p1-carousel {
    text-align: center;
    height: 200px;
    font-size: 18px;
    font-weight: 600;
  }
}

@media (max-width: 830px) {
  .promo-card {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    height: 500px;
  }
  .button-card {
    display: block;
    margin-top: -6px;
  }
}

@media (max-width: 630px) {
  .promo-card {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    height: 300px;
  }

  .linha {
    display: none;
  }
}

@media (max-width: 530px) {
  .p1-carousel {
    text-align: center;
    height: 200px;
    width: 400px;
    font-size: 16px;
    font-weight: 600;
  }

  .picsum-img-wrapper h1 {
    font-size: 50px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .img-2,
  .img-1,
  .img-3 {
    display: none;
  }

  .div-bola-amarela {
    background-image: url("../../assets/img/Group 86.png");
    width: 360px;
    height: 290px;
  }
  .div-bola-amarela-2 {
    background-image: url("../../assets/img/Group 85.png");
    width: 360px;
    height: 290px;
  }

  .div-bola-amarela-3 {
    background-image: url("../../assets/img/Group 87.png");
    width: 360px;
    height: 290px;
  }

  .promo-card {
    height: 200px;
  }
}

@media (max-width: 420px) {
  .p1-carousel {
    text-align: center;
    height: 200px;
    width: 360px;
    font-size: 16px;
    font-weight: 600;
  }
}
