main {
  background-image: url("../../../assets/img/fundoO.png");
  background-image: no-repeat;
  background-color: #f5f5f5;
  background-size: contain;
  padding-bottom: 35px;
}

.container-fluid {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.caixa-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 730px;
  font-size: 20px;
  border-bottom: 1px solid #bac2c5;
  border-left: 1px solid #bac2c5;
  border-right: 1px solid #bac2c5;
  border-radius: 0px 0px 15px 15px;
  margin-top: 15px;
}

h4 {
  font-size: 18px;
  color: #f5b93c;
  font-weight: bold;
  margin: 20% 0px 20% 0px;
}

.btn-con {
  font-size: 20px;
  width: 259px;
  height: 69px;
  border-radius: 5px 0px 0px 5px;
  background-color: #f5b93c;
  cursor: pointer;
  padding-left: 12.25%;
  padding-right: 15.5%;
}

.botao {
  margin-bottom: 44px;
}

input, mat-select {
  margin-bottom: 9px;
}

.btn-emp {
  font-size: 20px;
  width: 259px;
  height: 69px;
  border-radius: 0px 5px 5px 0px;
  background-color: #f4da5e;
  cursor: pointer;
  border-left: 1px solid black;
  padding-left: 12.5%;
  padding-right: 12%;
}

.btn-con-troca {
  font-size: 20px;
  width: 259px;
  height: 69px;
  border-radius: 5px 0px 0px 5px;
  background-color: #f4da5e;
  cursor: pointer;
  padding-left: 15%;
  padding-right: 15.5%;
}

.btn-emp-troca {
  font-size: 20px;
  width: 259px;
  height: 69px;
  border-radius: 0px 5px 5px 0px;
  background-color: #f5b93c;
  cursor: pointer;
  border-left: 1px solid black;
  padding-left: 12.5%;
  padding-right: 12%;
}

.btn-con-troca:hover,
.btn-con:hover {
  background-color: #f5b93c;
  border-radius: 5px 0px 0px 5px;
}

.btn-emp-troca:hover,
.btn-emp:hover {
  background-color: #f5b93c;
  border-radius: 0px 5px 5px 0px;
}

.align-414 button {
  position: absolute;
  top: 7px;
  right: -10px;
}

.btn-dark {
  font-size: 20px;
  color: #f5b93c;
  margin-top: 20px;
  margin-bottom: 7%;
  margin-left: 20.7%;
  width: 120px;
  height: 60px;
}

.caixa-input {
  width: 430px;
  margin: 0px;
  padding: 0px;;
}

.form-align mat-label {//alinhamento da label
  display: flex;
  align-items: flex-end;
  justify-content: end;
  margin-bottom: 25px;
  margin-right: 15px;
  width: 20px;
}

.ruaNum {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
}

.form-align {
  width: 520px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 19px;
}

.upload {
  max-height: 69px;
  padding: 40px 0px;
  display: flex;
  justify-content: center;
  border: 0.5px solid #d4d9dd;
  border-radius: 4px;
  width: 82.5%;
  margin-top: 0px;
}

.bi-cloud-plus {
  font-size: 30px;
}

.label-align {
  margin-right: 20px;
  margin-top: 25px;
}

#cloud {
  width: 82.5%;
}

.loginLink a {
  font-size: 16px;
  float: right;
  margin-right: 21.5%;
  margin-top: 8%;
  text-decoration: none;
  color: #9fa7ac;
}

.loginLink a:hover {
  color: #f5b93c;
}

@media only screen and (max-width: 1200px) {
  .caixa-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 623.781px;
    border-bottom: 1px solid #bac2c5;
    border-left: 1px solid #bac2c5;
    border-right: 1px solid #bac2c5;
    border-radius: 0px 0px 15px 15px;
  }

  .upload {
    margin-top: 0px;
    width: 82.5%;
    padding: 38px 0px;
  }

  .align-414 button {
    position: absolute;
    top: 7px;
    right: -10px;
  }

  .fotoCon {
    margin-top: 25px;
  }

  .btn-con,
  .btn-con-troca {
    padding-left: 12%;
    padding-right: 13.25%;
  }

  .btn-emp,
  .btn-emp-troca {
    padding-left: 13.25%;
    padding-right: 12%;
  }

  #cloud {
    width: 82.5%;
  }

  .btn-dark {
    margin-bottom: 7%;
    margin-left: 20.7%;
  }

  .loginLink a {
    margin-right: 20%;
    margin-top: 8%;
  }
}

@media only screen and (max-width: 900px) {

  main {
    background-image: none;
    background-color: #f5f5f5;
  }


  .caixa-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 675px;
    border-bottom: 1px solid #bac2c5;
    border-left: 1px solid #bac2c5;
    border-right: 1px solid #bac2c5;
    border-radius: 0px 0px 15px 15px;
    color: #000000;
  }


  .form-align {
    padding: 0px 30px 0px 30px;
  }

  .upload {
    width: 425px;
    margin-top: 0px;
    max-height: 69px;
    padding: 38px 0px;
  }

  .fotoCon,
  .fotoEmp {
    margin-top: 25px;
  }

  .btn-con,
  .btn-con-troca {
    width: 235px;
    margin-left: 17px;
  }

  .btn-emp,
  .btn-emp-troca {
    padding-left: 30px;
    width: 235px;
    margin-right: 15px;
  }

  .align-414 button {
    position: absolute;
    top: 7px;
    right: -10px;
  }

  .btn-dark {
    margin-left: 15.5%;
  }
  .loginLink a {
    margin-right: 9%;
    margin-top: 8%;
    color: #f5b93c;
  }

  .caixa-input {
    width: 430px;
    margin: 0px;
    padding: 0px;
  }

  .form-label {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    margin-bottom: 25px;
    width: 70px;
  }

   #cloud {
    width: 82.5%;
  }
}

@media only screen and (max-width: 600px) {
  main {
    background-image: none;
    background-color: #f5f5f5;
  }

  .caixa-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 580px;
    border-bottom: 1px solid #bac2c5;
    border-left: 1px solid #bac2c5;
    border-right: 1px solid #bac2c5;
    color: #000000;
    border-radius: 0px 0px 15px 15px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .botao {
    margin-bottom: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-con,
  .btn-con-troca {
    width: 200px;
    padding-left: 25px;
    text-align: center;
  }

  .btn-emp,
  .btn-emp-troca {
    padding-left: 20px;
    width: 200px;
    text-align: center;
  }

  .label-align {
    width: 80px;
  }

  .caixa-input {
    width: 300px;
    margin: 0px;
    padding: 0px;
  }

  .form-label {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    margin-left: 60px;
    margin-bottom: 25px;
    width: 80px;
  }

  .align-414 button {
    position: absolute;
    top: 7px;
    right: -10px;
  }

  .form-align {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 380px;
    margin: 0 20px;
    padding: 0;
  }

  .form-align #cloud {
    padding: 35px 0;
    margin: 0;
    width: 300px;
  }

  .btn-dark {
    margin-left: 16%;
  }

  .loginLink a {
    margin-right: 12%;
    margin-top: 9.5%;
    color: #f5b93c;
  }

  .upload {
    width: 285px;
    margin: 0;
    max-height: 69px;
    padding: 38px 0px;
  }

  #cloud{
    width: 82.5%;
  }
}

@media only screen and (max-width: 415px) {
  main {
    background-image: none;
    background-color: #f5f5f5;
  }

  .caixa-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 360px;
    border-bottom: 1px solid #bac2c5;
    border-left: 1px solid #bac2c5;
    border-right: 1px solid #bac2c5;
    color: #000000;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0px 0px 15px 15px;
  }

  .container {
    width: 350px;
  }

  .botao {
    width: 250;
    margin-bottom: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-con,
  .btn-con-troca {
    width: 160px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .btn-emp,
  .btn-emp-troca {
    padding-left: 5px;
    padding-right: 5px;
    width: 160px;
  }


  .caixa-input {
    width: 300px;
    margin: 0px;
    padding: 0px;
  }

  .form-label {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    margin-bottom: 25px;

    width: 70px;
  }

  .label-align {
    width: 50px;
  }

  .form-align {
    padding-left: 0px;
    padding-right: 0px;
    width: 300px;
    display: flex;
    align-items: center;
  }

  .form-align #cloud {
    padding: 35px 0;
    margin: 0;
    width: 300px;
  }

  .upload {
    width: 210px;
    margin-top: 0px;
    max-height: 69px;
    padding: 15px 0px;
    padding: 38px 0px;
  }

  .btn-dark {
    margin-left: 32%;
    height: 60px;
  }

  .loginLink a {
    margin-right: 27%;
    margin-top: 0;
    margin-bottom: 15px;
    color: #f5b93c;
  }
}
