<main class="trancatela">
  <div class="container-fluid">
  <section class="caixa-principal">
    <section>
      <h4>CADASTRAR</h4>
    </section>
    <div *ngIf="!click$; else empreendedor">
    <form [formGroup]="consumidorForm" (ngSubmit)="onSubmitConsumidor()">
      <div class="form-group botao" *ngIf="!click$; else botaos">
        <button class="btn btn-con" [class]="classbotaoOne" (click)="onClick()">Consumidor</button>
        <button class="btn btn-emp"  [class]="classbotaoTwo" (click)="onClick()">Empreendedor</button>
      </div>
      <ng-template #botaos>
        <div class="form-group botao">
        <button class="btn btn-con-troca"  [class]="classbotaoOne" (click)="onClick()">Consumidor</button>
        <button class="btn btn-emp-troca" [class]="classbotaoTwo" (click)="onClick()">Empreendedor</button>
      </div>
      </ng-template>
      <div class=" form-align">
        <mat-label class="form-label">Nome</mat-label>
        <mat-form-field class="caixa-input" appearance="outline">
          <input matInput placeholder="Nome completo" formControlName="nome" type="text" required="nome">
          <mat-error *ngIf="consumidorForm.get('nome')?.errors?.['required']">Campo obrigatório</mat-error>
        </mat-form-field>
      </div>
      <div class=" form-align">
        <mat-label class="form-label">CPF</mat-label>
        <mat-form-field class="caixa-input" appearance="outline">
          <input matInput mask="000.000.000-00"  placeholder="Informe seu CPF" formControlName="cpf" type="text" required="cpf">
          <mat-error *ngIf="consumidorForm.get('cpf')?.errors?.['required']">Campo obrigatório</mat-error>
          <mat-error *ngIf="consumidorForm.get('cpf')?.errors?.['maxlength']">Máximo 14 digitos</mat-error>
        </mat-form-field>
      </div>
      <div class=" form-align">
        <mat-label  class="form-label">Email</mat-label>
        <mat-form-field class="caixa-input" appearance="outline">
          <input matInput placeholder="Digite seu email" formControlName="email" type="email" required="email">
          <mat-error *ngIf="consumidorForm.get('email')?.errors?.['required']">Campo obrigatório</mat-error>
          <mat-error *ngIf="consumidorForm.get('email')?.errors?.['email']">exemplo@exemplo.com</mat-error>
        </mat-form-field>
      </div>
      <div class="form-align align-414">
        <mat-label  class="form-label">Senha</mat-label>
        <mat-form-field class="caixa-input" appearance="outline">
          <input matInput [type]="ocultar ? 'password' : 'text'" placeholder="Sua senha" formControlName="password" type="password" required>
          <mat-error *ngIf="consumidorForm.get('password')?.errors?.['required']">Campo obrigatório</mat-error>
          <mat-error *ngIf="consumidorForm.get('password')?.errors?.['minlength']">Mínimo 8 dígitos</mat-error>
          <div>
            <button type="button" mat-icon-button matSuffix (click)="ocultar = !ocultar"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="ocultar">
            <mat-icon>{{ocultar ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </div>
        </mat-form-field>
      </div>
      <div class=" form-align">
        <mat-label  class="form-label">Celular</mat-label>
        <mat-form-field class="caixa-input" appearance="outline">
          <input matInput mask="(00) 00000-0000" placeholder="(XX) X XXXX-XXXX" formControlName="celular" type="text">
          <mat-error *ngIf="consumidorForm.get('celular')?.errors?.['required']">Campo obrigatório</mat-error>
          <mat-error *ngIf="consumidorForm.get('celular')?.errors?.['maxlength']">Máximo 13 digitos</mat-error>
        </mat-form-field>
      </div>
      <div class="form-align">
        <mat-label  class="form-label">CEP</mat-label>
        <mat-form-field class="caixa-input" appearance="outline">
          <input matInput mask="00000-000" placeholder="ex.: 03259-000" formControlName="cep" type="text">
          <mat-error *ngIf="consumidorForm.get('cep')?.errors?.['required']">Campo obrigatório</mat-error>
          <mat-error *ngIf="consumidorForm.get('cep')?.errors?.['maxlength']">Máximo 9 digitos</mat-error>
        </mat-form-field>
      </div>
      <div class="form-align">
        <mat-label  class="form-label">Estado</mat-label>
        <mat-form-field class="caixa-input" appearance="outline">
          <input matInput placeholder="ex.: São Paulo" formControlName="estado" type="text">
          <mat-error *ngIf="consumidorForm.get('estado')?.errors?.['required']">Campo obrigatório</mat-error>
        </mat-form-field>
      </div>
      <div class="form-align">
        <mat-label  class="form-label">Cidade</mat-label>
        <mat-form-field class="caixa-input" appearance="outline">
          <input matInput placeholder="ex.: São Paulo" formControlName="cidade" type="text">
          <mat-error *ngIf="consumidorForm.get('cidade')?.errors?.['required']">Campo obrigatório</mat-error>
        </mat-form-field>
      </div>
      <div class="form-align">
        <mat-label  class="form-label">Bairro</mat-label>
        <mat-form-field class="caixa-input" appearance="outline">
          <input matInput placeholder="ex.: Mooca" formControlName="bairro" type="text">
          <mat-error *ngIf="consumidorForm.get('bairro')?.errors?.['required']">Campo obrigatório</mat-error>
        </mat-form-field>
      </div>
      <div class="form-align ruaNum">
        <mat-label  class="form-label">Rua</mat-label>
        <mat-form-field class="caixa-input" appearance="outline">
          <input matInput placeholder="ex.: Rua taquari" formControlName="rua" type="text">
          <mat-error *ngIf="consumidorForm.get('rua')?.errors?.['required']">Campo obrigatório</mat-error>
        </mat-form-field>
        </div>
      <div class="form-align ruaNum">
        <mat-label  class="form-label">Nº</mat-label>
        <mat-form-field class="caixa-input" appearance="outline">
          <input matInput placeholder="ex.: nº 7" formControlName="numero" type="text">
          <mat-error *ngIf="consumidorForm.get('numero')?.errors?.['required']">Campo obrigatório</mat-error>
        </mat-form-field>
      </div>
      <button mat-raised-button color="black" class="btn btn-dark" [disabled]="consumidorForm.invalid">Enviar</button>
        <span class="loginLink"><a href="/login">Já sou cadastrado</a></span>
    </form>
  </div>
  </section>
  <!-- TEMPLATE INICIO-->
  <ng-template #empreendedor>
    <form [formGroup]="empreendedorForm" (ngSubmit)="onSubmitEmpreendedor()">
      <div class="form-group botao" *ngIf="!click$; else botaos">
        <button class="btn btn-con" [class]="classbotaoOne" (click)="onClick()">Consumidor</button>
        <button class="btn btn-emp"  [class]="classbotaoTwo" (click)="onClick()">Empreendedor</button>
      </div>
      <ng-template #botaos>
        <div class="form-group botao">
        <button class="btn btn-con-troca"  [class]="classbotaoOne" (click)="onClick()">Consumidor</button>
        <button class="btn btn-emp-troca" [class]="classbotaoTwo" (click)="onClick()">Empreendedor</button>
        </div>
      </ng-template>
      <div class=" form-align">
        <mat-label class="form-label">Nome</mat-label>
        <mat-form-field class="caixa-input" appearance="outline">
          <input matInput placeholder="Nome completo" formControlName="nome" type="text" required="nome">
          <mat-error *ngIf="empreendedorForm.get('nome')?.errors?.['required']">Campo obrigatório</mat-error>
        </mat-form-field>
      </div>
      <div class=" form-align">
        <mat-label class="form-label">CNPJ</mat-label>
        <mat-form-field class="caixa-input" appearance="outline">
          <input matInput mask="00.000.000/0000-00" placeholder="Informe seu CNPJ" formControlName="cnpj" type="text" required="cnpj">
          <mat-error *ngIf="empreendedorForm.get('cnpj')?.errors?.['required']">Campo obrigatório</mat-error>
          <mat-error *ngIf="empreendedorForm.get('cnpj')?.errors?.['maxlength']">Máximo 17 digitos</mat-error>
        </mat-form-field>
      </div>
      <div class=" form-align">
        <mat-label  class="form-label">Email</mat-label>
        <mat-form-field class="caixa-input" appearance="outline">
          <input matInput placeholder="Digite seu email" formControlName="email" type="email" required="email">
          <mat-error *ngIf="empreendedorForm.get('email')?.errors?.['required']">Campo obrigatório</mat-error>
          <mat-error *ngIf="empreendedorForm.get('email')?.errors?.['email']">exemplo@exemplo.com</mat-error>
        </mat-form-field>
      </div>
      <div class=" form-align align-414">
        <mat-label  class="form-label">Senha</mat-label>
        <mat-form-field class="caixa-input" appearance="outline">
          <input matInput [type]="ocultar ? 'password' : 'text'" placeholder="Sua senha" formControlName="password" type="password" required="password">
          <mat-error *ngIf="empreendedorForm.get('password')?.errors?.['required']">Campo obrigatório</mat-error>
          <mat-error *ngIf="empreendedorForm.get('password')?.errors?.['minlength']">Mínimo 8 dígitos</mat-error>
          <div>
            <button type="button" mat-icon-button matSuffix (click)="ocultar = !ocultar"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="ocultar">
            <mat-icon>{{ocultar ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </div>
        </mat-form-field>
      </div>
      <div class=" form-align">
        <mat-label  class="form-label">Ramo</mat-label>
       <mat-form-field class="caixa-input" appearance="outline">
          <mat-select placeholder="Ramo do negócio" name="ramo" formControlName="ramo" required="ramo">
            <mat-option [value]="0">Hardware</mat-option>
            <mat-option [value]="1">Software</mat-option>
            <mat-option [value]="2">Ambos</mat-option>
          </mat-select>
          <mat-error *ngIf="empreendedorForm.get('ramo')?.errors?.['required']"
            >Campo obrigatório</mat-error
          >
        </mat-form-field>
      </div>
      <div class=" form-align">
        <mat-label  class="form-label">Celular</mat-label>
        <mat-form-field class="caixa-input" appearance="outline">
          <input matInput mask="(00) 00000-0000" placeholder="(XX) X XXXX-XXXX" formControlName="celular" type="text" required="celular">
          <mat-error *ngIf="empreendedorForm.get('celular')?.errors?.['required']">Campo obrigatório</mat-error>
          <mat-error *ngIf="empreendedorForm.get('celular')?.errors?.['maxlength']">Máximo 13 digitos</mat-error>
        </mat-form-field>
      </div>
      <div class="form-align">
        <mat-label  class="form-label">CEP</mat-label>
        <mat-form-field class="caixa-input" appearance="outline">
          <input matInput mask="00000-000" placeholder="ex.: 03259-000" formControlName="cep" type="text">
          <mat-error *ngIf="empreendedorForm.get('cep')?.errors?.['required']">Campo obrigatório</mat-error>
          <mat-error *ngIf="empreendedorForm.get('cep')?.errors?.['maxlength']">Máximo 9 digitos</mat-error>
        </mat-form-field>
      </div>
      <div class="form-align">
        <mat-label  class="form-label">Estado</mat-label>
        <mat-form-field class="caixa-input" appearance="outline">
          <input matInput placeholder="ex.: São Paulo" formControlName="estado" type="text">
          <mat-error *ngIf="empreendedorForm.get('estado')?.errors?.['required']">Campo obrigatório</mat-error>
        </mat-form-field>
      </div>
      <div class="form-align">
        <mat-label  class="form-label">Cidade</mat-label>
        <mat-form-field class="caixa-input" appearance="outline">
          <input matInput placeholder="ex.: São Paulo" formControlName="cidade" type="text">
          <mat-error *ngIf="empreendedorForm.get('cidade')?.errors?.['required']">Campo obrigatório</mat-error>
        </mat-form-field>
      </div>
      <div class="form-align">
        <mat-label  class="form-label">Bairro</mat-label>
        <mat-form-field class="caixa-input" appearance="outline">
          <input matInput placeholder="ex.: Mooca" formControlName="bairro" type="text">
          <mat-error *ngIf="empreendedorForm.get('bairro')?.errors?.['required']">Campo obrigatório</mat-error>
        </mat-form-field>
      </div>
      <div class="form-align ruaNum">
        <mat-label  class="form-label rua">Rua</mat-label>
        <mat-form-field class="caixa-input" appearance="outline">
          <input class="rua" matInput placeholder="ex.: R. da mooca" formControlName="rua" type="text">
          <mat-error *ngIf="empreendedorForm.get('rua')?.errors?.['required']">Campo obrigatório</mat-error>
        </mat-form-field>
        </div>
      <div class="form-align ruaNum">
        <mat-label  class="form-label num">Nº</mat-label>
        <mat-form-field class="caixa-input" appearance="outline">
          <input class="num" matInput placeholder="ex.: nº 7" formControlName="numero" type="text">
          <mat-error *ngIf="empreendedorForm.get('numero')?.errors?.['required']">Campo obrigatório</mat-error>
        </mat-form-field>
      </div>
        <button mat-raised-button color="black" class="btn btn-dark" [disabled]="empreendedorForm.invalid">Enviar</button>
        <span class="loginLink"><a [routerLink]="['/login']">Já sou cadastrado</a></span>
    </form>
  </ng-template>
  <!-- TEMPLATE FIM-->
</div>
</main>
