name: Build and Deploy Angular
on:
  push:
    branches:
      - main
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: All things angular
      uses: AhsanAyaz/angular-deploy-gh-pages-actions@v1.3.2
      with:
        github_access_token: ${{ secrets.GITHUB_TOKEN }}
        build_configuration: production
        base_href: https://sayure-paiva.github.io/BC18_EcommerceHardware_front/
        deploy_branch: gh-pages
        angular_dist_build_folder: dist/infoclick